GiftCertificateService/WebContent/wsdl/GiftCertificateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.v2.claimable.ws.netshoes.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.v2.claimable.ws.netshoes.com.br" xmlns:intf="http://impl.service.v2.claimable.ws.netshoes.com.br" xmlns:tns1="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.v2.claimable.ws.netshoes.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ws"/>
   <element name="giftCertificateGenerator">
    <complexType>
     <sequence>
      <element name="giftCertificateGeneratorRequest" type="tns1:GiftCertificateGeneratorReq"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="giftCertificateGeneratorResponse">
    <complexType>
     <sequence>
      <element name="giftCertificateGeneratorReturn" type="tns1:GiftCertificateGeneratorRes"/>
     </sequence>
    </complexType>
   </element>
   <element name="activateGiftCertificate">
    <complexType>
     <sequence>
      <element name="ativateGiftCertificateRequest" type="tns1:ActivateGiftCertificateReq"/>
     </sequence>
    </complexType>
   </element>
   <element name="activateGiftCertificateResponse">
    <complexType>
     <sequence>
      <element name="activateGiftCertificateReturn" type="tns1:ActivateGiftCertificateRes"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_GiftCertificate">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:GiftCertificate"/>
    </sequence>
   </complexType>
   <element name="deactivateGiftCertificate">
    <complexType>
     <sequence>
      <element name="DeactivateGiftCertificateRequest" type="tns1:DeactivateGiftCertificateReq"/>
     </sequence>
    </complexType>
   </element>
   <element name="deactivateGiftCertificateResponse">
    <complexType>
     <sequence>
      <element name="deactivateGiftCertificateReturn" type="tns1:DeactivateGiftCertificateRes"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://impl.service.v2.claimable.ws.netshoes.com.br"/>
   <complexType name="GiftCertificateGeneratorReq">
    <sequence>
     <element name="applyToShipping" nillable="true" type="xsd:boolean"/>
     <element name="enable" nillable="true" type="xsd:boolean"/>
     <element name="expirationDate" nillable="true" type="xsd:dateTime"/>
     <element name="folderName" nillable="true" type="xsd:string"/>
     <element name="length" nillable="true" type="xsd:int"/>
     <element name="maxUses" nillable="true" type="xsd:int"/>
     <element name="noOfGiftCertificate" nillable="true" type="xsd:int"/>
     <element name="origin" nillable="true" type="xsd:string"/>
     <element name="prefix" nillable="true" type="xsd:string"/>
     <element name="siteIds" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="suffix" nillable="true" type="xsd:string"/>
     <element name="syncWithET" nillable="true" type="xsd:boolean"/>
     <element name="valor" nillable="true" type="xsd:decimal"/>
    </sequence>
   </complexType>
   <complexType name="Result">
    <sequence>
     <element name="messages" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="GiftCertificateGeneratorRes">
    <sequence>
     <element name="folderId" nillable="true" type="xsd:string"/>
     <element name="giftCertificateIds" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="result" nillable="true" type="tns1:Result"/>
    </sequence>
   </complexType>
   <complexType name="ActivateGiftCertificateReq">
    <sequence>
     <element name="expirationDate" nillable="true" type="xsd:dateTime"/>
     <element name="giftCertificateIds" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="GiftCertificate">
    <sequence>
     <element name="gcActivationStatus" nillable="true" type="xsd:string"/>
     <element name="giftCertificateId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ActivateGiftCertificateRes">
    <sequence>
     <element name="giftCertificate" nillable="true" type="impl:ArrayOf_tns1_GiftCertificate"/>
     <element name="result" nillable="true" type="tns1:Result"/>
    </sequence>
   </complexType>
   <complexType name="DeactivateGiftCertificateReq">
    <sequence>
     <element name="gcIds" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="DeactivateGiftCertificateRes">
    <sequence>
     <element name="giftCertificate" nillable="true" type="impl:ArrayOf_tns1_GiftCertificate"/>
     <element name="result" nillable="true" type="tns1:Result"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deactivateGiftCertificateRequest">

      <wsdl:part element="impl:deactivateGiftCertificate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="activateGiftCertificateRequest">

      <wsdl:part element="impl:activateGiftCertificate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="giftCertificateGeneratorRequest">

      <wsdl:part element="impl:giftCertificateGenerator" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="activateGiftCertificateResponse">

      <wsdl:part element="impl:activateGiftCertificateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deactivateGiftCertificateResponse">

      <wsdl:part element="impl:deactivateGiftCertificateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="giftCertificateGeneratorResponse">

      <wsdl:part element="impl:giftCertificateGeneratorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GiftCertificateServiceImpl">

      <wsdl:operation name="giftCertificateGenerator">

         <wsdl:input message="impl:giftCertificateGeneratorRequest" name="giftCertificateGeneratorRequest">

       </wsdl:input>

         <wsdl:output message="impl:giftCertificateGeneratorResponse" name="giftCertificateGeneratorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="activateGiftCertificate">

         <wsdl:input message="impl:activateGiftCertificateRequest" name="activateGiftCertificateRequest">

       </wsdl:input>

         <wsdl:output message="impl:activateGiftCertificateResponse" name="activateGiftCertificateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deactivateGiftCertificate">

         <wsdl:input message="impl:deactivateGiftCertificateRequest" name="deactivateGiftCertificateRequest">

       </wsdl:input>

         <wsdl:output message="impl:deactivateGiftCertificateResponse" name="deactivateGiftCertificateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GiftCertificateServiceImplSoapBinding" type="impl:GiftCertificateServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="giftCertificateGenerator">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="giftCertificateGeneratorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="giftCertificateGeneratorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="activateGiftCertificate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="activateGiftCertificateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="activateGiftCertificateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deactivateGiftCertificate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deactivateGiftCertificateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deactivateGiftCertificateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GiftCertificateServiceImplService">

      <wsdl:port binding="impl:GiftCertificateServiceImplSoapBinding" name="GiftCertificateServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/GiftCertificateService/services/GiftCertificateServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
