Axis2WebServce/wsdl2/giftws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.v2.claimable.ws.netshoes.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.service.v2.claimable.ws.netshoes.com.br/" name="ClaimableWebServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.service.v2.claimable.ws.netshoes.com.br/" schemaLocation="http://localhost:8080/giftws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createSingleGiftCertificate">
<part name="parameters" element="tns:createSingleGiftCertificate"></part>
</message>
<message name="createSingleGiftCertificateResponse">
<part name="parameters" element="tns:createSingleGiftCertificateResponse"></part>
</message>
<message name="createGCUsingGiftCertificateGenerator">
<part name="parameters" element="tns:createGCUsingGiftCertificateGenerator"></part>
</message>
<message name="createGCUsingGiftCertificateGeneratorResponse">
<part name="parameters" element="tns:createGCUsingGiftCertificateGeneratorResponse"></part>
</message>
<message name="activateGiftCertificate">
<part name="parameters" element="tns:activateGiftCertificate"></part>
</message>
<message name="activateGiftCertificateResponse">
<part name="parameters" element="tns:activateGiftCertificateResponse"></part>
</message>
<message name="cancelGiftCertificate">
<part name="parameters" element="tns:cancelGiftCertificate"></part>
</message>
<message name="cancelGiftCertificateResponse">
<part name="parameters" element="tns:cancelGiftCertificateResponse"></part>
</message>
<portType name="ClaimableWebServiceImpl">
<operation name="createSingleGiftCertificate">
<input message="tns:createSingleGiftCertificate"></input>
<output message="tns:createSingleGiftCertificateResponse"></output>
</operation>
<operation name="createGCUsingGiftCertificateGenerator">
<input message="tns:createGCUsingGiftCertificateGenerator"></input>
<output message="tns:createGCUsingGiftCertificateGeneratorResponse"></output>
</operation>
<operation name="activateGiftCertificate">
<input message="tns:activateGiftCertificate"></input>
<output message="tns:activateGiftCertificateResponse"></output>
</operation>
<operation name="cancelGiftCertificate">
<input message="tns:cancelGiftCertificate"></input>
<output message="tns:cancelGiftCertificateResponse"></output>
</operation>
</portType>
<binding name="ClaimableWebServiceImplPortBinding" type="tns:ClaimableWebServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createSingleGiftCertificate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createGCUsingGiftCertificateGenerator">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="activateGiftCertificate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelGiftCertificate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ClaimableWebServiceImplService">
<port name="ClaimableWebServiceImplPort" binding="tns:ClaimableWebServiceImplPortBinding">
<soap:address location="http://localhost:8080/giftws"></soap:address>
</port>
</service>
</definitions>